# ======================
# Python
# ======================
__pycache__/
*.pyc

# ======================
# Model weights
# ======================
*.pth
*.pt

# ======================
# Dataset
# ======================
DATA/
Training/
Validation/
Test/
*.jpg
*.png

# ======================
# Training outputs
# ======================
runs/
logs/
*.log

# ======================
# Editor / OS
# ======================
.vscode/
.DS_Store
*.mp4
